@model FlexCMS.Areas.Admin.Controllers.ArticlesController.NewArticle

@Html.ValidationSummary()
    <div>
        <label>Title</label>
        @Html.TextBoxFor(m => m.Title, new { size = 80 })
    </div>
    <div>
        <label>Permalink</label>
        @Html.TextBoxFor(m => m.Permalink, new { size = 80 })
    </div>
    <div>
        <label>Section</label>
        @Html.DropDownList("SectionId", new SelectList(Model.AvailableSections.OrderBy(i => i.FullRoute), "SectionId", "FullRoute"), "")
    </div>
    <div>
        <label>Publish Date</label>
        <input type="date" name="PublishDate" id="PublishDate" value="@Model.PublishDate"/>
        
        @Html.DropDownList("PublishHour", new SelectList(Model.AvailableHours),"") : 
        @Html.DropDownList("PublishMinute", new SelectList(Model.AvailableMinutes), "") 
        @Html.DropDownList("PublishPeriod", new SelectList(Model.AvailablePeriods, "Key", "Value"), "")
    </div>
    <div>
        <label>Article Content</label>
        @Html.TextAreaFor(m => m.Content, new { cols = 80, rows = 40 })
    </div>


<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script type="text/javascript">
    window.addEventListener("load", function articleLoad(event) {
        window.removeEventListener("load", articleLoad, false); 
        articleForm.init();
    }, false);

    var articleForm = {
        generateAlias: function () {
            if(@((!String.IsNullOrEmpty(Model.Permalink)).ToString().ToLower())){
                return;
            }
            var title = document.getElementById('Title').value;
            var aliasEle = document.getElementById('Permalink');
            var replaceRegEx = /[^0-9A-Za-z]/g;
            title = title.replace(replaceRegEx, '-');
            aliasEle.value = title;
        },

        init: function () {
            articleForm.registerEvents();
            articleForm.initContentArea();
        },

        initContentArea : function(){
            tinymce.init({selector:'#Content'});
        },
        registerEvents: function () {
            document.getElementById('Title').addEventListener('keyup', articleForm.generateAlias);
        }
    };
</script>
